.header{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-image: linear-gradient(to left, rgb(155, 29, 155), rgb(50, 8, 82));
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.461);
}

.header--logo{
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.706);
}

.header--title{
    margin-left: 20px;
    margin-right: auto;
}