.meme-container {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    position: relative;
    padding: 0px 70px 70px 70px
}

.meme--img {
    width: 100%;
}

.upper-text {
    -webkit-text-stroke: 3px black;
        /* width and color */
    text-transform: uppercase;
    margin: 50px;
    font-size: 5rem;
    font-weight: 1000;
    text-shadow: 0 0 20px black;
    position: absolute;
    top: 0;
}

.lower-text {
    -webkit-text-stroke: 3px black;
        /* width and color */
    text-transform: uppercase;
    margin: 0;
    font-size: 5rem;
    font-weight: 1000;
    text-shadow: 0 0 20px black;
    position: absolute;
    bottom: 120px;
}